.lead__item {
    margin: 32px 0 0;
}

@media screen and (max-width: 1140px) {
    .lead__item {
         margin-top: 28px;
    }
}
 
@media screen and (max-width: 568px) {
     .lead__item {
         margin-top: 20px;
     }
}