.footer__link {
    padding: 0;
    margin: 0 18px 0 0;
}

.footer__link:nth-child(5) {
    margin-right: 0;
}

@media screen and (max-width: 640px) {
    .footer__link {
        margin-right: 9px;
    }
}

@media screen and (max-width: 568px) {
    .footer__link {
        margin-right: 0;
        margin-bottom: 32px;
    }
    .footer__link:nth-child(5) {
        margin-bottom: 0;
    }
}